.a-chat-interface-that-the-user-can-interact-with-the-website-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav22 {
  margin-left: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav32 {
  margin-left: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav42 {
  margin-left: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav52 {
  margin-left: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-login {
  margin-right: 32px;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-burger-menu {
  display: none;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav121 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav221 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav321 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav521 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-hero-heading {
  max-width: 800px;
  text-align: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-gallery {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-gallery1 {
  width: 100%;
  height: 1200px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b b" "a b b" "a c d" "a c d"  "e e d" "e e f" "e e f";
  grid-template-columns: 1fr 1fr 1fr;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  grid-area: a;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1550751827-4bd374c3f58b?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxMTg2NTczNHw&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container02:hover {
  transform: scale(0.98);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container03 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: b;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1576671414121-aa0c81c869e1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxMTg2NTczNXw&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container04:hover {
  transform: scale(0.98);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container05 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: c;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1684487747720-1ba29cda82f8?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxMTg2NTczNXw&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container06:hover {
  transform: scale(0.98);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: d;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1530026405186-ed1f139313f8?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxMTg2NTczNXw&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container07:hover {
  transform: scale(0.98);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container08 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  grid-area: e;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1700887913623-979f688ac56a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxMTg2NTczNnw&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container08:hover {
  transform: scale(0.98);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: f;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1643930490230-28ed220ef0f1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxMTg2NTczNnw&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container09:hover {
  transform: scale(0.98);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container10 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container11 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-banner-heading {
  text-align: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-banner-sub-heading {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container12 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-text48 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-text49 {
  text-align: left;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container13 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav222 {
  margin-left: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav322 {
  margin-left: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav422 {
  margin-left: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav522 {
  margin-left: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-icon14 {
  width: 24px;
  height: 24px;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-navbar-interactive1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-image {
  height: 2rem;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-desktop-menu1 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-links2 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-text54 {
  margin-left: var(--dl-space-space-twounits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-text55 {
  margin-left: var(--dl-space-space-twounits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-text56 {
  margin-left: var(--dl-space-space-twounits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-text57 {
  margin-left: var(--dl-space-space-twounits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-buttons2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-login2 {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-burger-menu1 {
  display: none;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-top1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-logo3 {
  height: 2rem;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-close-menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-links3 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-text58 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-text59 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-text60 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-text61 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-text62 {
  margin-bottom: var(--dl-space-space-unit);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-buttons3 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.a-chat-interface-that-the-user-can-interact-with-the-website-login3 {
  margin-right: var(--dl-space-space-twounits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-icon20 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-icon22 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.a-chat-interface-that-the-user-can-interact-with-the-website-icon24 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .a-chat-interface-that-the-user-can-interact-with-the-website-desktop-menu {
    display: none;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-burger-menu {
    display: flex;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-hero1 {
    flex-direction: column;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-hero-heading {
    text-align: center;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-gallery1 {
    grid-gap: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-banner-sub-heading {
    max-width: 100%;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-text49 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .a-chat-interface-that-the-user-can-interact-with-the-website-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-nav221 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-nav521 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-gallery1 {
    height: auto;
    display: flex;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-container03 {
    height: 220px;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-container05 {
    height: 220px;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-container11 {
    grid-template-columns: 1fr;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-banner-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-faq1 {
    flex-direction: column;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-container12 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-text49 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-container15 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-text52 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-navbar-interactive1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-desktop-menu1 {
    display: none;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-text58 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-text59 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-text60 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-text61 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-text62 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .a-chat-interface-that-the-user-can-interact-with-the-website-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-mobile-menu1 {
    padding: 16px;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-btn-group {
    flex-direction: column;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-gallery1 {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-footer {
    padding: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-container15 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-text52 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-navbar-interactive1 {
    padding: var(--dl-space-space-unit);
  }
  .a-chat-interface-that-the-user-can-interact-with-the-website-mobile-menu {
    padding: 16px;
  }
}
