.chat-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.chat-container1 {
  width: 1193px;
  height: 671px;
}
.chat-container2 {
  display: contents;
}
